

/* 
display:
flex, inline

flex-direction:
row, column
justify-content:
start, center, end, space-around, space-evenly, space-between

allign-items:
start, center, end 
*/

body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #252525;
    margin: 0px;
}

p {
    font-size: 20;
    line-height: 2;
}

h1 {
    font-family: 'Lilita One', cursive;
    font-size: 90;
    margin: 0;
}

h2 {
    font-size: 50;
    margin: 0;
}

h3 {
    font-size: 40;
    margin: 0;
}

h4 {
    font-family: 'Lilita One', cursive;
    font-size: 40;
}

h5 {
    font-size: 30;
    color: #eeeeee;
}

h6 {
    font-family: 'Lilita One', cursive;
    font-size: 70;
    margin: 30px 0 0 0;
}

#logo {
    width: 500px;
}

#hero {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0 20px 0;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#titles {
    padding-bottom: 80px;
}

#info {
    padding: 40;
    background-color: #eeeeee;
}

#specs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 70px 30px 70px;
}

#stores {
    padding-top: 10px;
    padding-bottom: 80px;
    background-color: #6063A7;
    
}

#app-store {
    background:url(Assets/App\ Store.png) no-repeat;
    width: 300px;
    height: 100px;
    border: none;
    margin-right: 20px;
}

#google-play {
    background: url("Assets/Google\ Play.png") no-repeat;
    width: 300px;
    height: 100px;
    border: none;
    margin-left: 20px;
}

/* .bordered {
    border: 5px solid #6063A7;
} */

.left-allingment {
    text-align: start;
}

.with-body-margins {
    margin: 30px 20px 40px 10px;
}