

/* 
display:
flex, inline, block

flex-direction (changing this swaps the axises):
row, column

justify-content (horizontal-axis):
start, center, end, space-around, space-evenly, space-between

allign-items (vertical-axis):
start, center, end 
*/

body {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #252525;
    margin: 0px;
}

a {
    color: #ffffff;
    margin: 0 10px;
}

li {
    margin: 10px 0;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}

h6 {
    font-family: 'Lilita One', cursive;
    font-size: 70;
    margin: 30px 0 0 0;
}

#hero {
    /* width: 1100px; */
    margin-left: auto;
    margin-right: auto;
    padding: 90px 0 10px 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(#ffffff,#dcdeff);
}

#titles-buttons {
    padding-bottom: 40px;
    
}

#Welcome-to {
    font-size: 40;
    font-weight: 400;
    margin: 0;

}

#The-Intruder {
    font-family: 'Lilita One', cursive;
    font-size: 90;
    margin: 0;
}

#Party-Game {
    font-size: 50;
    font-weight: 400;
    margin: 0;
}

#buttons {
    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#app-store {
    background:url(Assets/App\ Store.png) no-repeat;
    background-size: contain;
    width: 250px;
    height: 75px;
    border: none;
    margin-right: 20px;
}

#app-store:hover {
    cursor: pointer;
}

#google-play {
    background: url("Assets/Google\ Play\ Unavailable.png") no-repeat;
    background-size: contain;
    width: 250px;
    height: 75px;
    border: none;
    margin-left: 20px;
}

/* #google-play:hover {
    cursor: pointer;
} */

#Get-it-now {
    margin-top: 30px;
    font-size: 30;
    color: #252525;
    /* text-decoration: underline; */
}


#logo {
    width: 400px;
    padding-left: 20px;
}

#info {
    padding: 30;
    background-color: #6063A7;
}

#index-paragraph {
    font-size: 20;
    line-height: 2;
    color: #ffffff;
}



.bolded { 
    font-weight: bold; 
}

#specs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 70px 0 70px;
    background: linear-gradient(#dcdeff, #ffffff);
}

#features {
    font-family: 'Lilita One', cursive;
    font-size: 35;
    margin-bottom: 20;
    padding: 0 20px;
}

#screens {
    padding-bottom: 0px;
    width: 1200px;
}



#footer {
    padding: 30px 0;
    background-color: #6063A7;
    
}


#links {
    color: #ffffff;
}

/* .bordered {
    border: 5px solid #6063A7;
} */

#Rules {
    font-family: 'Lilita One', cursive;
    font-size: 90;
    margin: 0;
}

#results {
    margin-top: 20px;
    width: 460px;
    height: 3150px;
}

.left-allingment {
    text-align: start;
}

.with-body-margins {
    margin: 30px 20px 40px 10px;
}

.white-font {
    color: #ffffff;
}

@media screen and (max-width: 500px) {

    #hero {
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 40px 0 10px 0;
        margin: auto auto;
    }

    /* #hero {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 0 10px 0;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
    } */
    
    
    #titles-buttons {
        padding-bottom: 30; 
    }
    
    #Welcome-to {
        font-size: 100%;
        margin: 0;
    }
    
    #The-Intruder {
        font-size: 37;
        margin: 0;
    }
    
    #Party-Game {
        font-size: 120%;
        margin: 0;
    }
    
    #buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 15 0 10 0;
        padding: 0;
    }
    
    #app-store {
        width: 125px;
        height: 40px;
        margin: 0 0 5 0;
        padding: 0;
    }
    
    #google-play {
        width: 125px;
        height: 40px;
        margin: 0;
        padding: 0;
    }

    #Get-it-now {
        margin: 0 0 0 0;
        padding: 0;
        font-size: 100%;
    }
    

    #logo {
        width: 250px;
        margin: 0;
        padding: 0 0 0 10;
    }

    #info {
        padding: 10;
    }

    #index-paragraph {
        font-size: 14;
        line-height: 2;
    }

    #specs {
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: 0;
        padding: 0 15;
    }
    
    #features {
        font-size: 120%;
        margin-top: 25;
        margin-bottom: 0;
        padding: 0 20px;
    }

    #screens {
        padding-bottom: 0px;
        width: 100%;
    }

    #footer {
        padding: 20px 0; 
    }
    
    #links {
        font-size: 12;
    }

}